.main-container{
    .app-container{
        .homepage{
            .main-left{
            flex-flow: column;
            order: 0;
            justify-content: flex-start;
            align-self: center;
            align-items: flex-start;
            width: 50%;
            max-width: 100%;
            display: flex;
           
            h1{
                color:#090909;
                font-size: 56px;
                text-align: left;
                margin-bottom: 24px;
                font-family: Poppins, sans-serif;
                font-size: 48px;
                font-weight: 700;
                line-height: 68px;
                display: block;
            }
            h5{
                color: #333;
                font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
                font-size: 14px;
                line-height: 20px
            }
            .button-main{
                .sign-up{
                    color: #fff;
                    background-color: #8854c0;
                    border-radius: 5px;
                    border: #fff;
                    padding: 5px;
                    margin-right: 5px;
                }
                .learn-more{
                    color: #8854c0;
                    border-radius:5px ;
                    padding: 5px;
                }
            }
            }
            
        }
    }
}